body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
}

h1{
    color: #333;
    max-width: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button{
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #0056b3
}